@using Eshop.Models;
@using System.Collections.Generic;

@model IList<Item>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>


@using (Html.BeginForm("ProductsGrid", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>

        <h1 class="text-left">&ensp;&nbsp;Contact us</h1>

    </div>
    foreach(var product in Model)
    { 
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => product.Id_Item)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Producer, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Producer)
                @Html.ValidationMessageFor(model => model.Producer)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Message, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Message)
                @Html.ValidationMessageFor(model => model.Message)
            </div>
        </div>
     }
        @*Genre and Price removed for brevity.*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Remove" class="btn btn-default" />
            </div>
        </div>
    </div>
}